<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Course Schedule</title>
  <link rel="stylesheet" type="text/css" href="static/css/syllabus.css"
   media="screen"/>
  <link rel="stylesheet" type="text/css" href="static/css/syllabus-print.css"
   media="print"/>

</head>

<body>
<h1>Schedule</h1>

<table class="class-schedule">
  {% for entry in g.schedule %}
  {% if loop.index is divisibleby 2 %}
  <tr class="even">
  {% else %}
  <tr class="odd">
  {% endif %}
  {% if entry.highlight == 'True' %}
    <td class="week" style="background-color: rgb(50,250,50);">{{ entry.week }}</td>
  {% else %}
    <td class="week">{{ entry.week }}</td>
  {% endif %}
    <td class="date">{{ entry.date }}</td>
    <td class="topic">{{ entry.topic }}</td>
    <td class="project">{{ entry.project}}</td>
  </tr>
  {% endfor %}




</body> </html>
